/* line 1, ../sass/style.scss */
.mainLayout {
  display: flex;
}

@media (max-width: 576px) {
  /* line 6, ../sass/style.scss */
  .gallery {
    order: 2;
  }
}
/* line 11, ../sass/style.scss */
img {
  height: 200px;
}

/* line 19, ../sass/style.scss */
.viewer {
  position: fixed;
  top: 55px;
  right: 10px;
  height: 90vh;
  border: 1px solid #2f2b6f;
}

/* line 27, ../sass/style.scss */
.container {
  margin-top: 55px;
}

/* line 31, ../sass/style.scss */
.bg-color-card {
  background-color: #bbafb0;
}
