/* line 4, ../sass/style.scss */
* {
  box-sizing: border-box;
}

/* line 8, ../sass/style.scss */
.mainLayout {
  display: flex;
}

@media (max-width: 576px) {
  /* line 13, ../sass/style.scss */
  .gallery {
    order: 2;
  }
}
/* line 18, ../sass/style.scss */
img {
  height: 200px;
  width: 100%;
}

/* line 24, ../sass/style.scss */
div[id^="card"]:hover {
  background-color: #c4bbae;
  cursor: pointer;
}
/* line 28, ../sass/style.scss */
div[id^="card"]:active {
  background-color: #998973;
}

/* line 33, ../sass/style.scss */
.viewer {
  position: fixed;
  top: 55px;
  right: 10px;
  min-height: 10vh;
  border: 1px solid #2f2b6f;
}

/* line 41, ../sass/style.scss */
.container {
  margin-top: 55px;
}

/* line 45, ../sass/style.scss */
.bg-color-card {
  background-color: #bbafb0;
}

/* line 49, ../sass/style.scss */
nav {
  background-color: #22456a;
  height: 45px;
}

/* line 54, ../sass/style.scss */
.nav-custom, nav > ul > li {
  color: white;
  padding: 3px 20px;
  border-radius: 7px;
  cursor: pointer;
}
/* line 59, ../sass/style.scss */
.nav-custom:hover, .nav-custom:active, nav > ul > li:hover, nav > ul > li:active {
  background-color: #100f25;
  color: #c4bbae;
}

/* line 65, ../sass/style.scss */
#brand:hover {
  color: #c4bbae;
}

/* line 69, ../sass/style.scss */
div.flex-row {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
/* line 75, ../sass/style.scss */
div.flex-row select, div.flex-row input {
  height: 40px;
  border: 0px;
}
/* line 79, ../sass/style.scss */
div.flex-row input {
  margin-left: 10px;
}

/* line 84, ../sass/style.scss */
.sorting {
  justify-content: flex-end;
  width: 100%;
  margin-bottom: 10px;
}

/* line 90, ../sass/style.scss */
select {
  background-color: #c4bbae;
  border: 0px;
}

/* line 95, ../sass/style.scss */
.no-display {
  display: none;
}

/* line 99, ../sass/style.scss */
.pages {
  margin: 20px auto;
  width: 480px;
  justify-content: space-around;
}
/* line 109, ../sass/style.scss */
.pages-pressed {
  cursor: pointer;
  background-color: #726dc6;
  color: white;
  border: white;
}
/* line 112, ../sass/style.scss */
.pages > div {
  border: 1px solid #2f2b6f;
  border-radius: 3px;
  margin: 15px;
  padding: 5px;
  min-width: 60px;
  height: 40px;
  text-align: center;
  font-size: 1.2em;
  font-weight: 600;
}
/* line 122, ../sass/style.scss */
.pages > div:hover {
  cursor: pointer;
  background-color: #4f48b8;
  color: white;
  border: white;
}
/* line 125, ../sass/style.scss */
.pages > div:active {
  cursor: pointer;
  background-color: #726dc6;
  color: white;
  border: white;
}
