/* line 1, ../sass/style.scss */
.mainLayout {
  display: flex;
}

@media (max-width: 576px) {
  /* line 6, ../sass/style.scss */
  .gallery {
    order: 2;
  }
}
/* line 11, ../sass/style.scss */
img {
  height: 200px;
  width: 100%;
}

/* line 20, ../sass/style.scss */
.viewer {
  position: fixed;
  top: 55px;
  right: 10px;
  min-height: 10vh;
  border: 1px solid #2f2b6f;
}

/* line 28, ../sass/style.scss */
.container {
  margin-top: 55px;
}

/* line 32, ../sass/style.scss */
.bg-color-card {
  background-color: #bbafb0;
}

/* line 36, ../sass/style.scss */
nav {
  background-color: #22456a;
  height: 45px;
}

/* line 40, ../sass/style.scss */
li.nav-item {
  color: white;
}

/* line 44, ../sass/style.scss */
.no-display {
  display: none;
}
